@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-pink: #ff3e79;
  --color-text: #1b1c21;
  --color-aqua: #41F6D7;
  --color-aqua-light: #B8FFEC;
  --color-bg-gray: #f8f8f8;
  --color-gray-light: #eaeaea;
  --color-gray-links: #7e7e82;
  --font-family: "TT Lakes", sans-serif;
  --h1-font-size: 28px;
  --border: 2px solid var(--color-aqua-light);
  --primary-button-height: 40px;
  --transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-bg-gray);
}

a,
button,
textarea,
input,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

h1, .h1 {
  font-size: var(--h1-font-size);
}

.primary-button {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 0;
  padding: 0;
}
.primary-button__icon-wrapper {
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 50%;
  display: flex;
  height: var(--primary-button-height);
  justify-content: center;
  aspect-ratio: 1;
}
.primary-button:after {
  background-color: var(--color-pink);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  display: inline-block;
  aspect-ratio: 1;
  width: 40px;
}
.primary-button--icon--phone:after {
  content: "";
  background-image: url("../images/phone-icon.svg");
}
.primary-button--icon--message:after {
  content: "";
  background-image: url("../images/message-icon.svg");
}
.primary-button--icon--user:after {
  content: "";
  background-image: url("../images/user-icon.svg");
}
.primary-button--icon--instrument:after {
  content: "";
  background-image: url("../images/insrument_button.svg");
}
.primary-button--icon--search:after {
  content: "";
  background-image: url("../images/search_button.svg");
}
@media (hover: hover) {
  .primary-button:hover:after {
    box-shadow: 0 0 5px 0;
    border: 3px solid;
  }
}
@media (hover: none) {
  .primary-button:active:after {
    box-shadow: 0 0 5px 0;
    border: 3px solid;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
.header__inner {
  background-color: #fff;
  align-items: center;
  box-shadow: 0 0 0 1px #d9fff5;
  display: flex;
  padding: 18.59px 16px;
}
@media (min-width: 768px) {
  .header__inner {
    padding: 18.59px 24px;
  }
}
.header__logo {
  margin-left: 16.73px;
}
.header__services-menu {
  padding-left: 20px;
}
.header__services-menu:before {
  background-color: var(--color-gray-light);
  content: "";
  display: block;
  height: 32px;
  width: 2px;
}
.header__user-menu {
  column-gap: 16px;
  margin-left: auto;
}

.burger-button {
  position: relative;
}
@media (min-width: 768px) {
  .burger-button {
    margin-right: 20px;
  }
}
.burger-button:after {
  background-color: var(--color-pink);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  display: inline-block;
  aspect-ratio: 1;
  width: 40px;
  content: "";
  background-image: url("../images/burger_button.svg");
}
@media (min-width: 768px) {
  .burger-button:before {
    background-color: var(--color-gray-light);
    content: "";
    display: block;
    height: 32px;
    position: absolute;
    right: -20px;
    top: 50%;
    translate: -50% -50%;
    width: 2px;
  }
}

.services-menu {
  align-items: center;
  display: flex;
  column-gap: 16px;
  margin-left: auto;
}
@media (min-width: 768px) {
  .services-menu {
    margin-left: 0;
  }
}
@media (min-width: 1120px) {
  .services-menu {
    column-gap: 32px;
  }
}
.services-menu__primary-button {
  align-items: center;
  display: flex;
  column-gap: 8px;
}
.services-menu__text {
  font-size: 16px;
}

@media (min-width: 1120px) {
  .content__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    padding-right: 32px;
  }
}
.content__title {
  border: 3px solid transparent;
  border-left-color: var(--color-aqua);
  letter-spacing: -1px;
  line-height: 34px;
  margin-top: 24px;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .content__title {
    border-width: 4px;
  }
}
@media (min-width: 1120px) {
  .content__title {
    margin-top: 0;
  }
}
.content__menu {
  margin-top: 24px;
  position: relative;
}
@media (min-width: 768px) {
  .content__menu {
    margin-top: 32px;
  }
}
@media (min-width: 1120px) {
  .content__menu {
    margin-top: 8px;
  }
}
.content__menu:after {
  background: linear-gradient(270deg, #f8f8f8 0.04%, rgba(248, 248, 248, 0) 100%);
  content: "";
  display: block;
  height: 100%;
  width: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.content__about {
  padding-top: 24px;
}
@media (min-width: 768px) {
  .content__about {
    display: flex;
    column-gap: 48px;
  }
}
@media (min-width: 768px) {
  .content__about {
    padding: 32px 40px 40px 24px;
  }
}
.content__services-menu {
  display: none;
}
@media (min-width: 1120px) {
  .content__services-menu {
    display: flex;
  }
}

.menu__list {
  display: flex;
  margin-left: 16px;
  overflow: scroll;
  position: relative;
}
@media (min-width: 768px) {
  .menu__list {
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .menu__list {
    overflow: visible;
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 25px;
  }
}
.menu__item {
  flex-shrink: 0;
}
.menu__link {
  display: inline-block;
  box-sizing: border-box;
  color: var(--color-gray-links);
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 6px 15px;
}
@media (hover: hover) {
  .menu__link:hover {
    border-color: var(--color-aqua);
  }
}
@media (hover: none) {
  .menu__link:active {
    border-color: var(--color-aqua);
  }
}
@media (min-width: 1120px) {
  .menu__link {
    padding-inline: 22px;
  }
}

.about {
  padding-bottom: 35px;
}
.about__text {
  font-size: 14px;
  line-height: 18px;
  height: 90px;
  overflow: hidden;
  padding-inline: 16px;
  text-align: left;
}
@media (min-width: 768px) {
  .about__text {
    height: 160px;
    line-height: 20px;
    padding-inline: 0;
  }
}
.about__button {
  font-weight: 700;
  margin-left: 16px;
  margin-top: 16px;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media (hover: hover) {
  .about__button:hover {
    cursor: pointer;
    color: aqua;
  }
}
@media (hover: none) {
  .about__button:active {
    cursor: pointer;
    color: aqua;
  }
}
.about__button:before {
  content: url("../images/read-more-arrows.svg");
  display: inline-block;
  height: 24px;
  width: 24px;
}
@media (min-width: 768px) {
  .about__button {
    margin-left: 0;
    margin-top: 10px;
  }
}
.about__image {
  margin-top: 16px;
  height: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .about__image {
    border-radius: 6px;
    margin-top: 0;
    min-width: 50%;
  }
}

.user-menu {
  display: none;
  position: relative;
}
@media (min-width: 768px) {
  .user-menu {
    display: flex;
  }
}
.user-menu__text {
  font-size: 0;
  line-height: 0;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
